:root{
    --width: 280px;
    --padding: 10px;
    --bgcolor: #FF7B00;
    --hovercolor: #cd6e15;
    --width-collapsed: 50px; 
    --width-logo: 100px;
}

body{
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: fixed;

    width: 100%;
    padding: 0;
    margin: 0; 
    margin-left: 5rem; 

}
.body-expanded{
    margin-left: var(--width);
}
/* ingresar opcaidad a toda la pantalla */

.opacity-container{
    position: fixed;
    top: 0;
}
.body-expanded .opacity-container{
    /* margin-left: var(--width);   */
    background-color: #cd6e15;
    width: 100%;  
    height: 100%;
    right: 0;
    left: 50px;
    opacity: 0.3;
    margin-top: 0;
} 
/* 
#main-container{
    color: black; 
    margin-left: 300px;
} */

#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;


}

#sidemenu a{
    color: white;
    text-decoration: none;
    left: 0;
}

/* header */

#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);

}

#sidemenu #header #title .logo-upqroo{
    box-sizing: border-box;
    overflow: hidden;

}
#sidemenu #header #title .logo-uproo,#sidemenu #header #menu-btc{
    vertical-align: middle;
}
#sidemenu #header #title .logo-upqroo{
    box-sizing: border-box;
    padding: 0;
    width: var(--width-logo);
    
}
#sidemenu #header #menu-btn{
    display: inline-block;

}
.body-expanded #sidemenu #header #menu-btn{
    display: inline-block;
    margin-left: 60px;
    
}
.body-expanded #sidemenu{
    overflow-y: scroll;
}
.body-expanded #sidemenu::-webkit-scrollbar{
    display: none;
    /* overflow-y: scroll; */

}
/* #sidemenu #header #menu-btc{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
    margin-right: 0;


} */

#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);

}

#sidemenu #header #menu-btn img{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
    

}
/* #sidemenu #header #menu-btn .btn-hamburguer{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;

} */

/* profile perfil */
#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;

}

#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
    
}

#sidemenu #profile #photo img{
    border-radius: 40%;
    width: 50%;

}

#sidemenu #profile #photo,#sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;

}

/* items */

#sidemenu #menu-items{
    overflow: hidden;

}

#sidemenu #menu-items .item{
    width: var(--width);

}

#sidemenu #menu-items .item .icon{
    display: inline-block;

}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a{
    display: block;

}

#sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);

}

#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);

}

#sidemenu #menu-items .item .icon img{
    width: 100%;

}

#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;

}

/* aqui empieza el cerrar sesion */
#sidemenu .closed-profile{
    overflow: hidden;
    position: sticky;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: end;
    margin-top: 25%;
    
    margin-bottom: 30px;

}

#sidemenu .closed-profile .closed-item{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    

}

#sidemenu .closed-profile .closed .closed-icon{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#sidemenu  .closed-profile .closed .closed-icon,
#sidemenu .closed-profile  .closed .closed-title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;

}

#sidemenu .closed-profile .closed-item a{
    display: block;
    justify-self: center;

}

#sidemenu .closed-profile .closed-item a:focus{
    background-color: var(--hovercolor);

}

#sidemenu .closed-profile .closed-item .closed-icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
    margin-left: 30px;
}

#sidemenu .closed-profile .closed-item .closed-icon img{
    width: 100%;
    /* justify-self:center; */

}

#sidemenu .closed-profile .closed-item .closed-title{
    padding: var(--padding) 0;

}

/* aqui termina */

/*  */

#sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;

}

 /* aqui se esconden todo el menu al colapsar dejando solo los iconos */

/* colapso de los items de los procesos */
 .menu-estancia1 .menu-item-estancia1 {
    display: none;
  }
  
  .menu-estancia1:hover .menu-item-estancia1 {
    display: block;
  }
/* termina codigo de colapso de los procesos */
.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgb(232, 151, 29);

}

.menu-expanded #header #title {
    display: inline-block;
    width: calc(100% - 50%);
    margin-right: -5px;
    padding: var(--padding);

}

.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;

}

.menu-expanded #profile #photo{
    width: 200px;
}
/*  */
.menu-expanded #profile #name{
    width: 100%;

}

.menu-collapsed{
    width: var(--width-collapsed);

}

.menu-collapsed #header #title {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #header #title .logo-upqroo{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name{
    display: none;

}


.menu-collapsed .closed-profile span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
}
.menu-collapsed .closed-profile{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed .contenido-nav .logo-movil{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}


/* .menu-collapsed .closed-profile .closed-item .closed-title span{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
} */
